<div class="container">
  <div class="content-area">
    <div class="user-area">
      <div class="icon-area d-flex align-items-center">
        <%= image_tag @user.icon_image.icon.url,  class: "icon" %>
      </div>
      <div class="user-date">
        <div class="row">
          <div class="col-xl-2 user-name">
            <h2><%= @user.name %></h2>
          </div>
          <% if @user.id == current_user.id %>
            <div class="col-xl-6 user-edit">
              <%= link_to edit_user_path(@user.id), class: "btn edit-btn" do %>
                <i class="fas fa-cog">プロフィール編集</i>
              <% end %>
            </div>
        </div>
          <div class="new-link">
            <%= link_to new_picture_path, class: "new-btn", remote: true do %>
              <i class="fas fa-file"> 写真を投稿</i>
            <% end %>
          </div>
        <% end %>
        <div class="plofile overflow-auto">
          <%= @user.self_introduction %>
        </div>
      </div>
    </div>
    <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div id="user-modal2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <nav class="content-nav">
      <ul class="nav nav-tabs nav-tabs-underline flex-lg-row" role="tablist">
        <li class="nav-item show-item"><a class="nav-link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">投稿一覧</a></li>
        <li class="nav-item show-item"><a class="nav-link" id="like-tab" data-toggle="tab" href="#like" role="tab" aria-controls="like" aria-selected="false">いいね！した写真</a></li>
      </ul>
    </nav>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
        <div class="row">
          <% @user.pictures.order(created_at: :desc).each do |picture| %>
            <div class="col-md-4 col-4 pearent-card">
              <div class="card index-card">
                <%= link_to picture_path(picture.id), remote: true do %>
                  <%= image_tag picture.image.index.url, class: "bd-placeholder-img card-img img-fluid index-img" if picture.image? %>
                <% end %>
                </div>
              </div>
          <% end %>
        </div>
      </div>

      <div id="picture-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <div id="picture-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

      <!-- <div class="tab-pane fade" id="like" role="tabpanel" aria-labelledby="like-tab"> -->
      <div class="tab-pane fade show" id="like" role="tabpanel" aria-labelledby="post-tab">
        <div class="row" id="like-p">
          <%= render partial: "pictures/like_pictures", locals: { user: @user } %>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>


<!-- <svg class="bd-placeholder-img card-img" width="50%" height="260" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Card image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text></svg> -->
