<div class="modal-dialog">
  <div class="modal-content">
    <div class="main container">
      <h2>この内容で投稿しますか？</h2>
        <%= form_with(model: @picture, url: pictures_path, local: true ) do |f| %>
          <div class="form-group">
            <%= f.hidden_field :article %>
            <%= f.hidden_field :image_cache %>
            <%= f.label :article, 'コメント:', class: "control-label" %>
            <div class="confirm-content">
              <%= @picture.article %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :image, '写真:', class: "control-label" %>
          <div class="confirm-content">
            <%= image_tag @picture.image.post.url if @picture.image?%>
          </div>
          </div>
          <div class="submit modal-submit">
            <%= f.submit '投稿', class: "btn btn-outline-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
