<div class="modal-dialog modal-dialog-centered show-modal">
  <div class="modal-content">
    <div class="card show-card">
      <div class="row no-gutters show-body">
        <div class="col-md-7 d-flex align-items-center align-self-center">
          <%= image_tag @picture.image.url, class: "bd-placeholder-img card-img img-fluid show-img" %>
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <div class="card-title">
              <%= image_tag @picture.user.icon_image.mini_icon.url %>
              <%= @picture.user.name %>
            </div>
            <p class="card-text card-article overflow-auto"><%= @picture.article %>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
            <p class="card-text like-btn"></p>
            <p class="card-text"><small class="text-muted"><%= @picture.created_at.strftime('%Y年%m月%d日') %></small></p>
            <div class='footer-btn'>
              <div id="like-<%= @picture.id %>">
                <%= render partial: "likes/like" %>
              </div>
              <% if @picture.user_id == current_user.id %>
                <div class="edit-destroy-btn">
                  <%= link_to edit_picture_path(@picture.id), remote: true do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to picture_path(@picture.id), method: :delete, data: {confirm: '本当に削除してもよろしいですか？'} do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
