<div class="modal-dialog modal-dialog-centered show-modal">
  <div class="modal-content">
    <div class="card show-card">
      <div class="row no-gutters show-body">
        <div class="col-md-7 d-flex">
          <%= image_tag @picture.image.url, class: "bd-placeholder-img card-img show-img" %>
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <div class="card-title">
              <%= link_to user_path(@picture.user.id) do %>
                <%= image_tag @picture.user.icon_image.mini_icon.url %>
                <%= @picture.user.name %>
              <% end %>
            </div>
            <div class="card-text card-article overflow-auto">
              <p><%= @picture.article %></p>
              <div id="comments_area">
                <%= render partial: 'coments/index', locals: { coments: @coments } %>
              </div>
            </div>
            <p class="card-text"><small class="text-muted"><%= @picture.created_at.strftime('%Y年%m月%d日') %></small></p>
            <div class='footer-btn'>
              <div id="like-<%= @picture.id %>">
                <%= render partial: "likes/like", locals: { picture: @picture } %>
              </div>
              <% if @picture.user_id == current_user.id %>
                <div class="edit-destroy-btn">
                  <%= link_to edit_picture_path(@picture.id), remote: true do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to picture_path(@picture.id), method: :delete, data: {confirm: '本当に削除してもよろしいですか？'} do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="comment-form">
              <%= render partial: 'coments/form', locals: { coment: @coment, picture: @picture} %>
            </div>
            <div class="">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
